#
# Copyright (c) 2018 Linaro Limited
#
# SPDX-License-Identifier: Apache-2.0
#

config SOC_SERIES_MUSCA
	bool "ARM v2m MUSCA MCU Series"
	depends on ARM
	select SOC_FAMILY_ARM
	select CPU_HAS_SYSTICK
	select GPIO_MMIO32 if GPIO
	help
	  Enable support for ARM MPS2 MCU Series
